body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-image: url("https://i.pinimg.com/736x/e8/3b/66/e83b66a4cfe5282103c9ae62b5e39815.jpg");
}

textarea {
    background: transparent;
    border: none;
    resize: none;
    border-left: 1px solid black;
    padding: 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
}

.description {
    white-space: pre-wrap;
}

.inputBox {
    width: 100%;
    border-radius: 10px;
    color: #000000;
    ;
}

.col {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #dcdcdc;
}

div .col-9 {
    padding: 0;
}

.time-block {
    text-align: center;
    font-size: large;
    font-weight: 500;
    border-radius: 15px;
    padding-top: 20px;
}

.past {
    background-color: #ce6262;
    color: black;
}

.present {
    background-color: #00b014;
    color: black;
}

.future {
    background-color: #dcdcdc;
    color: black;
}

.saveIcon {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #ffe417;
    color: black;
    text-align: center;
    font-size: 40px;
}

.saveIcon:hover {
    background-color: #d59306;
}


/* 
i:hover {
    font-size: 40px;
    transition: all .3s ease-in-out;
}  */